@model GESTION.Models.Productos
@{
    ViewBag.Title = "Eliminar Producto";
}

<h2>¿Está seguro de eliminar este Producto?</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="mb-3">
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-3">Código de Barras</dt>
        <dd class="col-sm-9">@Model.Barras</dd>
        <dt class="col-sm-3">Marca</dt>
        <dd class="col-sm-9">@Model.Marca</dd>
        <dt class="col-sm-3">Proveedor</dt>
        <dd class="col-sm-9">@Model.Proveedor</dd>
    </dl>

    @using (Html.BeginForm("Eliminar", "Productos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Id)
        <button type="submit" class="btn btn-danger">Eliminar</button>
        @Html.ActionLink("Cancelar", "Productos", null, new { @class = "btn btn-secondary ms-2" })
    }
</div>
